@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Nunito:wght@700&display=swap');
*{
    margin: 0;padding: 0;

}
header{

    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0;padding: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font: bold;
    background-attachment: fixed;
    display: inline;
    position: fixed;
    height: 100px;
    margin-top: 0px;
    text-align: left; */
    position: fixed;
    z-index: 1;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-right: 2vh;
    width: 100vw;
    height: 5vh;
border-bottom: 1px solid gray ;

}

p{
    font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
}
li{
    margin-top: 50px;
    display: inline;
    text-align: left;
    position: relative;
    bottom: 0px;
    margin-left: 20px;
} 
li a{
    text-decoration: none;
    color: black;
}
.search{
    display: flex;
    align-items: center;
margin-left: 40vw;

    
}
.search input{
    cursor: pointer;
    padding: 0 9px;
}
.search input{
    border-radius: 5px;
    margin-right: 2vw;
}
h1{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

h3{    font-family: 'Nunito', sans-serif;}
.intro{
    background: #e5ecfb;
}
.intro img{
    border: 4px solid black;
    border-radius: 20px;
    margin-left: 10px;
    float: left;
}

.intro p{
    text-align: justify;
    margin-right: 16vw;
    margin-left: 16vw;
    padding: 4px;
}



.resume a{
    color: white;
    text-decoration: none;
}
.resume {

    display: flex;
    height: 43px;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 130,0.823);
    text-decoration: none;
    margin-right: 75vw;
    margin-left: 16vw;
    /* border: 4px solid rgb(8, 8, 130,0.823); */
    border-radius: 20px ;

}


.skills h1{
    color:rgba(255,230,0,255);
}
.skills{
    margin-top: 0px;
    background-color: rgba(8, 8, 130, 0.823);
}

.skills2{
    color: aliceblue;
    background-color: rgba(66, 66, 164, 0.823);
    margin: auto;
   margin-left: 10vw;
   margin-right: 10vw;
    border-radius: 20px ;
}

.skills2 ul li{
    display: flex;
    justify-content: center;
    align-items: center;

}

#element{
    background-color: black;
}

.educaton h1{
    background: #e5ecfb;
}



.education {
    min-height: 30vh;
    background: #e5ecfb;
  }

  .edu{
    display: flex;
    margin: auto;
    margin: 0 20vw;
    background-color: orange;
    border-radius: 20px;
    display: flex;
    height: 60px;
}
.education img{
    margin: 10px 10px;
}
.education p{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    text-align: center;

}
/*
.education {
  background: #e5ecfb;
  min-height: 80vh;
}
.education .qoute {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-top: 0.5rem;
}
.education .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.education .box-container .box {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  transition: 0.3s;
  background: rgb(252, 252, 252);
}
.education .box-container .box:hover {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}
.education .box-container .box .image {
  flex: 1 1 20rem;
  width: 100%;
}
.education .box-container .box img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
}
.education .box-container .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1 1 70rem;
}
.education .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #012970;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
}
.education .box-container .box .content p {
  font-size: 1.5rem;
  margin-left: 1rem;
  text-align: left;
}
.education h4 {
  font-size: 2rem;
  color: rgb(34, 109, 0);
  text-align: left;
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
*/
/* education media queries starts*/
/*@media screen and (max-width: 600px) {
  .education .box-container .box {
    flex-direction: column;
    width: 100%;
  }
  .education .box-container .box .image {
    width: 100%;
    height: 25rem;
  }
  .education .box-container .box img {
    width: 100%;
  }
  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 0;
  }
  .education .btns {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;
  }
}
*/
.experience{
    background: #000031;
}

.experience h1{
    color:  #e5ecfb;
}
.one{
  
    background: #e5ecfb;
    margin: auto;
    margin: 0 30vw;
    border-radius: 15px;
    box-shadow: black;
}

.one h3{
font-size: 20px;
    margin: 5px 20px;
    color: #012970;
    text-shadow: #012970;
    font-weight: bold;
}
.one p{
    margin: 5px 20px;

}

.one h4{
    margin: 5px 20px;
    color: #236d01;
}

.h{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h img{
    margin: 0 10px;
}
.contact{
    
    background: #e5ecfb;
}
.cont{
    background-color: aliceblue;
border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    margin: 0 20vw;
}

.cont img{
    margin-right: 100px;
}

.submit {

color: white;
    height: 43px;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 130,0.823);
    text-decoration: none;
    margin-right: 320px;
    margin-left: 1000px;
    /* border: 4px solid rgb(8, 8, 130,0.823); */
    border-radius: 20px ;

}

.submit p{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    color: aliceblue;
    background-color: rgba(8, 8, 130, 0.823);
    margin-right: 6vw;
}
.portfolio{
    padding: 4px;
    color: rgb(231, 229, 229);
    text-align: center;
    float: left;
    margin-left: 6vw;
}
.info{
    color: rgb(231, 229, 229);
    margin-right: 6vw;
    text-align: center;
    float: right;
}
.credits{

    color: rgb(231, 229, 229);
    background-color: rgba(8, 8, 130, 0.823);
    text-align: center;
}
/*new*/
